<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel="stylesheet" type="text/css" href="semantic.css">
    <script>
      $(document).ready(function(){
        var photo, name, email,password, birthdate, address, phone, contact, food, activ;
        $("#submit").click(function(){
          name=$("#name").val();
	  email=$("#email").val();
          password=$("#password").val();
	  photo = $("#photo").val();
    birthdate = $("#birthdate").val();
    address = $("#address").val();
    phone = $("#phone").val();
    contact = $("#contact").val();
    activ = $("#activ").val();
    food = $("#food").val();
          $.post("http://localhost:3000/signup",{photo: photo, name: name, email: email,password: password, birthdate:birthdate, address:address,phone:phone,contact:contact, food:food, activ:activ}, function(data){
            if(data==='done')
              {
                alert("success");
              }
          });
          });
        });
    </script>
  </head>
<body>
    <h1>Sign Up</h1>

	<form action="/signup" method="post">
        <p>
            <label for="photo"> Foto
            </label><br>
            <input type="file" name="photo" id="photo" />
        </p>

        <p>
            <label for="name"> Nome
            </label><br>
            <input type="text" name="name" id="name" placeholder="Ex: Maria Joaquina da Silva" />
        </p>

        <p>
            <label for="email"> E-mail
            </label><br>
            <input type="email" name="email" id="email" placeholder="Ex: mariajs@mariajs.com.br" />
        </p>

        <p>
            <label for="password"> Senha
            </label><br>
            <input type="password" name="password" id="password" placeholder="*******" />
        </p>
        <p>
            <label for="birthdate"> Data de Nascimento
            </label><br>
            <input type="date" name="birthdate" id="birthdate" />
        </p>
        <p>
            <label for="address"> Endereço
            </label><br>
            <input type="text" name="address" id="address" placeholder="Ex: Rua das Flores, 201" />
        </p>
        <p>
            <label for="phone"> Telefone
            </label><br>
            <input type="text" name="phone" id="phone" placeholder="Ex: (11) 98765-4321" />
        </p>
        <p>
            <label for="contact"> Preferencia de Contato (o que você quer que apareça no seu perfil público)
            </label><br>
            <select name="contact">
            <option value="email">E-mail</option>
            <option value="phone">Telefone</option>
            </select>
        </p>
        
<!--         <p>
            <label for="food"> Preferencias Alimentares
            </label><br>
            <select name="food" multiple="" class="ui fluid dropdown">
            <option value="low_carb">Low Carb</option>
            <option value="vegano">Veganismo</option>
            <option value="vegetariano">Vegetarianismo</option>
            <option value="sem_glutem">Sem Gluten</option>
            <option value="sem_lactose">Sem Lactose</option>
            </select>
        </p>
        <p>
            <label for="activ"> Atividades que pratica
            </label><br>
            <select name="activ" multiple="" class="ui fluid dropdown">
            <option value="cross_fit">Crossfit</option>
            <option value="esporte_coletivo">Esportes Coletivos</option>
            <option value="esporte_aventura">Esportes de Aventura</option>
            <option value="luta">Luta</option>
            <option value="yoga">Yoga</option>
            </select>
        </p> -->
            <input type="submit" value="Submit" />

</form> 

</body>
</html>
=======
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  <title>Nome do Site</title>
  
  <!-- favicon -->
    <link rel="shortcut icon" href="images/ico/favicon.jpg">
    <link rel="GG" sizes="144x144" href="images/ico/GG.png">
    <link rel="G" sizes="114x114" href="images/ico/G.png">
    <link rel="M" sizes="72x72" href="images/ico/M.png">
    <link rel="P" href="images/ico/P.png">
  
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />
  <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css" />
  <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" />
  <link rel="stylesheet" type="text/css" href="css/unslider.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  
</head>

<body data-target="#nino-navbar" data-spy="scroll">

  <!-- Header
    ================================================== -->
  <header id="nino-header">
    <div id="nino-headerInner">         
      <nav id="nino-navbar" class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="nino-menuItem pull-right">
            <div class="collapse navbar-collapse pull-left" id="nino-navbar-collapse">
            </div><!-- /.navbar-collapse -->
          </div>
        </div><!-- /.container-fluid -->
      </nav>

      <section id="nino-slider" class="carousel slide container" data-ride="carousel">
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h2 class="nino-sectionHeading">
            <span class="nino-subHeading">Nome do Site</span>Cadastro</h2>
            <center><form action="" class="FiltrarForm">
              <div class="input-group input-group-lg">
                <input type="email" class="form-control" placeholder="Email" name="email" required>
                <input type="password" class="form-control" placeholder="Senha" name="senha" required>
                <input class="btn btn-success" type="submit" value="Entrar"></input>
              </div>
            </form></center>
            <br>
          </div>
        </div>
      </section>
    </div>
  </header><!--/#header-->
