<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <link rel="stylesheet" type="text/css" href="semantic.css">
    <script>
      $(document).ready(function(){
        var photo, name, email,password, birthdate, address, phone, contact, food, activ;
        $("#submit").click(function(){
          name=$("#name").val();
	  email=$("#email").val();
          password=$("#password").val();
	  photo = $("#photo").val();
    birthdate = $("#birthdate").val();
    address = $("#address").val();
    phone = $("#phone").val();
    contact = $("#contact").val();
    activ = $("#activ").val();
    food = $("#food").val();
          $.post("http://localhost:3000/signup",{photo: photo, name: name, email: email,password: password, birthdate:birthdate, address:address,phone:phone,contact:contact, food:food, activ:activ}, function(data){
            if(data==='done')
              {
                alert("success");
              }
          });
          });
        });
    </script>
  </head>
<body>
    <h1>Sign Up</h1>

	<form action="/signup" method="post">
        <p>
            <label for="photo"> Foto
            </label><br>
            <input type="file" name="photo" id="photo" />
        </p>

        <p>
            <label for="name"> Nome
            </label><br>
            <input type="text" name="name" id="name" placeholder="Ex: Maria Joaquina da Silva" />
        </p>

        <p>
            <label for="email"> E-mail
            </label><br>
            <input type="email" name="email" id="email" placeholder="Ex: mariajs@mariajs.com.br" />
        </p>

        <p>
            <label for="password"> Senha
            </label><br>
            <input type="password" name="password" id="password" placeholder="*******" />
        </p>
        <p>
            <label for="birthdate"> Data de Nascimento
            </label><br>
            <input type="date" name="birthdate" id="birthdate" />
        </p>
        <p>
            <label for="address"> Endereço
            </label><br>
            <input type="text" name="address" id="address" placeholder="Ex: Rua das Flores, 201" />
        </p>
        <p>
            <label for="phone"> Telefone
            </label><br>
            <input type="text" name="phone" id="phone" placeholder="Ex: (11) 98765-4321" />
        </p>
        <p>
            <label for="contact"> Preferencia de Contato (o que você quer que apareça no seu perfil público)
            </label><br>
            <select name="contact">
            <option value="email">E-mail</option>
            <option value="phone">Telefone</option>
            </select>
        </p>
        
        <p>
            <label for="food"> Preferencias Alimentares
            </label><br>
              <input type="checkbox" name="low_carb" value="s"> Low Carb<br>
              <input type="checkbox" name="vegano" value="s"> Veganismo<br>
              <input type="checkbox" name="vegetariano" value="s"> Vegetarianismo<br>
              <input type="checkbox" name="sem_glutem" value="s"> Sem Gluten<br>
              <input type="checkbox" name="sem_lactose" value="s"> Sem Lactose<br>
        </p>
       <p>
            <label for="activ"> Atividades que pratica
            </label><br>
              <input type="checkbox" name="cross_fit" value="s"> Crossfit<br>
              <input type="checkbox" name="esporte_coletivo" value="s"> Esportes Coletivos<br>
              <input type="checkbox" name="esporte_aventura" value="s"> Esportes de Aventura<br>
              <input type="checkbox" name="luta" value="s"> Luta<br>
              <input type="checkbox" name="yoga" value="s"> Yoga<br>
        </p>  
            <input type="submit" value="Submit" />

</form> 

</body>
</html>
