<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  <title>Nome do Site</title>
  
  <!-- favicon -->
    <link rel="shortcut icon" href="images/ico/favicon.jpg">
    <link rel="GG" sizes="144x144" href="images/ico/GG.png">
    <link rel="G" sizes="114x114" href="images/ico/G.png">
    <link rel="M" sizes="72x72" href="images/ico/M.png">
    <link rel="P" href="images/ico/P.png">
  
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />
  <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css" />
  <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" />
  <link rel="stylesheet" type="text/css" href="css/unslider.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  
</head>

<body data-target="#nino-navbar" data-spy="scroll">

  <!-- Header
    ================================================== -->
  <header id="nino-header">
    <div id="nino-headerInner">         
      <nav id="nino-navbar" class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="nino-menuItem pull-right">
            <div class="collapse navbar-collapse pull-left" id="nino-navbar-collapse">
            </div><!-- /.navbar-collapse -->
          </div>
        </div><!-- /.container-fluid -->
      </nav>

      <section id="nino-slider" class="carousel slide container" data-ride="carousel">
        
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h2 class="nino-sectionHeading">
            <span class="nino-subHeading">Nome do Site</span>Cadastro</h2>
            <center><form action="" class="FiltrarForm">
              <div class="input-group input-group-lg">
                <input type="email" class="form-control" placeholder="Email" name="email" required>
                <input type="password" class="form-control" placeholder="Senha" name="senha" required>
                <input class="btn btn-success" type="submit" value="Entrar"></input>
              </div>
            </form></center>
            <br>
          </div>
        </div>
      </section>
    </div>
  </header><!--/#header-->