<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css'>
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<% for(var i=0; i < data.length; i++) { %>
 <img alt="User Pic" src="http://localhost:3000/<%=data[i].foto%>"> </div>
<% } %>
</html>